/* *********      每天三个deal        ************ */
.top3_cont {
    /*     margin-left: 8%; */
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.top3_img:hover {
    border: 2px solid #1E4881;
}

.dealoftheday {
    color: #1E4881;
    font-weight: bold;
    margin-top: 1rem;
}

.top3_img {
    text-align: center;
    border: 2px solid lightgray;
    margin-top: 0;
    /*     width: 70%; */
}

.top3_deal {
    display: grid;
    grid-template-columns: 15% 30% 38% 7%;
}

.ctd_timer {
    text-align: right;
    margin-top: 1rem;
}

.o_p {
    color: #1E4881;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}



/* *********      Register Page        ************ */
.RegisterPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*     grid-column-gap: 0rem; */
}

/* *********      Hexagon       ************ */

.box1,
.box2,
.box3 {
    width: 200px;
    height: 250px;
    overflow: hidden;
}

.box1 {
    transform: rotate(120deg);
    margin-left: 10px;
}

.box2 {
    transform: rotate(-60deg);
}

.box3 {
    transform: rotate(-60deg);
    text-align: center;
    background-color: white;
}

.box3 img {
    margin-top: 30%;
}

.box3 p {
    margin-top: 10%;
}

.box3:hover {
    background-image: linear-gradient(#68D4FE, #1E4881);
    color: white;
}

.box3:hover .img_ppe {
    content: url('../../public/images/products/PPEW.png');
}

.box3:hover .img_PowerTools {
    content: url('../../public/images/products/PowerToolsW.png');
}

.box3:hover .img_handtools {
    content: url('../../public/images/products/handtoolsW.png');
}

.box3:hover .img_electrical {
    content: url('../../public/images/products/electricalW.png');
}

.box3:hover .img_accessories {
    content: url('../../public/images/products/accessoriesW.png');
}

.box3:hover .img_mechanical_up {
    content: url('../../public/images/products/gearW.png');
    transform: rotate(27deg);
    animation-name: rotationUP;
    animation-duration: 7s;
}

.box3:hover .img_mechanical_down {
    content: url('../../public/images/products/gearW.png');
    animation-name: rotationD;
    animation-duration: 7s;
}

.allproducts {
    border: none;
    color: #1E4881;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5%;
    text-decoration: underline;
}

/* *******   animation    ******** */
.img_mechanical_up {
    width: 35%;
    position: relative;
    left: 5%;
    top: -5%;
    /*     transform: rotate(27deg);
    animation-name: rotationUP;
    animation-duration: 15s; */
}

@keyframes rotationUP {
    from {
        transform: rotate(27deg);
    }

    to {
        transform: rotate(207deg);
    }
}

.img_mechanical_down {
    width: 45%;
    position: relative;
    top: 7%;
    right: 3%;
    /*     animation-name: rotationD;
    animation-duration: 15s; */
}

@keyframes rotationD {
    from {
        transform: rotate(359deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.soldout {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 60%;
    transform: rotate(-20deg);
}

.ctdtm {
    position: absolute;
    right: 5%;
    bottom: 0%;
}

.top3_text {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.RRP {
    padding-top: 0.5rem;
    text-decoration: line-through;
    font-size: 1vw;
    padding-left: 10%;
}

.discounted_price {
    font-size: 1.5vw;
}

.product_card_btn {
    background-color: #5c8dd1;
    color: white;
    border: none;
}

.product_card_btn:hover {
    background-color: #1e4881;
    /*   background-image: linear-gradient(#68D4FE, #1E4881); */
}



/* ************* 按键波纹效果 ************** */
/* .btn_blue {
    background-color: #1E4881;
    border: none;
}

.btn-ripple {
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s linear, border 0.3s linear;
}

.btn-ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, rgba(0, 0, 0, 0) 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
}

.btn-ripple:active:after {
    transform: scale(0);
    opacity: 0.2;
    transition: 0s;
} */